body {
  margin: 0 auto;
  width: 960px;

  text-align: center;
}
container {
  display: flex;
  justify-content: space-between;
}
header {
}
main {
  text-align: left;
  padding: 15px;
  background-color: rgb(238, 232, 232);
  border-radius: 5%;
  margin: 5px;
}

#content {
  display: none;
}
